<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bespoke Cakes NG</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allerta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

</head>
<body>
<div class="container-fluid" >
    <nav class="navbar sticky-top navbar-expand-lg navbar-light " style="background-color: white;" id="navbig">
        <a class="navbar-brand abs" href="/" style="font-family: 'Lobster', Georgia, Times, serif;font-size: 35px">
            Bespoke &nbsp;<img src="/images/Bespokeicon%20.jpg" width="70" height="70" class="d-inline-block align-top" alt="">
            &nbsp;Cakes NG
            <span class="sr-only">(current)</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav " style="font-size: small; font-family: 'Raleway', Helvetica, Arial, sans-serif;">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">DASHBOARD</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" style="font-size: small; font-family: 'Raleway', Helvetica, Arial, sans-serif;">
                <li class="nav-item" >
                    <a class="nav-link"> <%= msg %> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/logout">LOG OUT</a>
                </li>
            </ul>
        </div>
    </nav>
    <section id="log">
    <div class="row justify-content-center" style="margin-top: 100px">
        <div class="col-md-6" id="login">
            <div class="container">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="name" class="col-form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Chocolate cake">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="productImage" class="col-form-label">Cake Picture</label>
                            <input type="file" class="form-control" id="productImage" name="productImage" >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="description" class="col-form-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description" >
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="price" class="col-form-label">Price</label>
                            <input type="text" class="form-control" id="price" name="price" placeholder="3,000">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="category" class="col-form-label">Category</label>
                            <select class="custom-select " id="category" name="category">
                                <option selected>Choose...</option>
                                <option value="Wedding Cakes">Wedding Cakes</option>
                                <option value="Traditional Cakes">Traditional Cakes</option>
                                <option value="Birthday Cakes">Birthday Cakes</option>
                                <option value="Custom Cakes">Custom Cakes</option>
                                <option value="Cup Cakes">Cup Cakes</option>
                                <option value="Snacks">Snacks</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <p><b><%= msg %></b></p>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-12">
                            <button type="submit" class="loginmodal-submit">Add Product
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>
</div>
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"> </script>
</body>
</html>